@use '../custom' as *;
@use '../components/mixins' as *;

.menu {
    @include gradient;

    li {
        padding:0 0.5rem;

        a {
            color: $white;
            text-transform: capitalize;
            font-weight: 600;
            font-size: 1.3rem;
            transition: all 0.1s;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}