@use '../custom' as *;
@use '../components/mixins' as *;


.success{
    padding: 0 0 2rem 0;
    .success-logo-box{
        width: 100%;
        height: 10rem;
        // width: 13rem;
        margin: 0.5rem auto;
        box-shadow: 0px 3px 3px 3px $gray-300;
        padding: 0rem;
        border-radius: 10px;

        .feature {
            position: relative;
            height: 100%;
            width: 100%;
            background-color: $peach;
            border-radius: 10px;

            
            i {
                @include absoluteCenter;
                opacity: 10%;
            }

            .feature-text {
                font-family: 'Poppins', sans-serif;
                position: absolute;
                width: 100%;                
                .feature-title {
                    color:$white;
                    font-weight: 700;
                    margin: 0;
                    padding: 1.5rem 0 0 0;
                }
                .feature-sub-title {
                    color:$white;
                    margin: 0;
                    padding: 0.1rem;
                }
            }

            &:hover{
                filter: brightness(1.2);               
            }
        }
    }

    .about-photo-box {
        max-width: 100%;
        text-align: center;
        margin-bottom: 3rem;
        @include media-breakpoint-up(md){
            margin-bottom: 1rem;
        }
        img {
            width: 100%;
        }
    }
}


