@use '../custom' as *;
@use '../components/mixins' as *;



.skill-card {
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    
    @include media-breakpoint-up(lg){
        margin-bottom: 0;
        margin-left: inherit;
        margin-right: inherit;
    }
    
    @include card-gradient;
    border-radius: 2rem;
    padding: 2rem 1rem;
    height: 30rem;
    box-shadow: 0px 0.3rem 0.5rem $gray-500;
    position: relative;
    overflow: hidden;


    .skill-card-photo{
        position: absolute;
        opacity: 5%;
        padding-top: 2rem;
        width: 100%;
        padding: 0;
        margin: 0;
        bottom:0;
        left:0;


    }

    .skill-header-area{
        margin-bottom: 1rem;
        
        .skill-header {
            color: $white;
            font-size: 1.5rem;
            font-weight: 600;
            position: relative;

            &:after{
                display: block;
                content:"";
                width: 10rem;
                height: 0.1rem;
                position: absolute;
                background-color: $navy;
                box-shadow: 0px 0.3rem 0.5rem $navy;
                margin-top: 0.5rem;
            }


        }

    }

    .skill-sub-header {
        text-align: center;
        margin-top: 2rem;
        height: 3rem;
    }

    .skill-text-area {
        position: relative;
        height: 12rem;
        margin-bottom: 2rem;
        overflow: hidden;
        .skill-text {
            position: absolute;
            padding-top: 1rem;
            color:$white;
        }
        .learn-more {
            position: absolute;
            bottom:0;
            width: 100%;
            text-align: end;
        }
    }

    .skill-img-area {
        overflow: hidden;
        text-align: center;
        
        img {
            padding: 0.2rem 0.7rem;
            height: 3rem;
            opacity: 60%;
        }
    }
}